:root {
  --background: white;
  --display: none;
}

@font-face {
  /* 100 */
  font-family: catamaran-thin;
  src: url("../fonts/Catamaran-Thin.ttf");
}
@font-face {
  /* 200 */
  font-family: catamaran-extralight;
  src: url("../fonts/Catamaran-ExtraLight.ttf");
}
@font-face {
  /* 300 */
  font-family: catamaran-light;
  src: url("../fonts/Catamaran-Light.ttf");
}
@font-face {
  /* 400 */
  font-family: catamaran-regular;
  src: url("../fonts/Catamaran-Regular.ttf");
}
@font-face {
  /* 500 */
  font-family: catamaran-medium;
  src: url("../fonts/Catamaran-Medium.ttf");
}
@font-face {
  /* 600 */
  font-family: catamaran-semibold;
  src: url("../fonts/Catamaran-SemiBold.ttf");
}
@font-face {
  /* 700 */
  font-family: catamaran-bold;
  src: url("../fonts/Catamaran-Bold.ttf");
}
@font-face {
  /* 800 */
  font-family: catamaran-extrabold;
  src: url("../fonts/Catamaran-ExtraBold.ttf");
}
@font-face {
  /* 900 */
  font-family: catamaran-black;
  src: url("../fonts/Catamaran-Black.ttf");
}

/* Fonts */
/* 100 */
.font-cat-thin {
  font-family: catamaran-thin;
}
/* 200 */
.font-cat-extralight {
  font-family: catamaran-extralight;
}
/* 300 */
.font-cat-light {
  font-family: catamaran-light;
}
/* 400 */
.font-cat-regular {
  font-family: catamaran-regular;
}
/* 500 */
.font-cat-medium {
  font-family: catamaran-medium;
}
/* 600 */
.font-cat-semibold {
  font-family: catamaran-semibold;
}
/* 700 */
.font-cat-bold {
  font-family: catamaran-bold;
}
/* 800 */
.font-cat-extrabold {
  font-family: catamaran-extrabold;
}
/* 900 */
.font-cat-black {
  font-family: catamaran-black;
}

/* Home */
.active-menu:nth-child(1),
.active-menu:nth-child(2),
.active-menu:nth-child(3) {
  color: #1b1b1d !important;
}

.menu-hover {
  color: rgba(255, 255, 255) !important;
  transition: all;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-duration: 500ms;
}

.web-container {
  visibility: hidden;
}

/* div[alt="1"] {
  margin-top: 22px;
} */

#work-section::-webkit-scrollbar,
#resume-section::-webkit-scrollbar {
  display: none;
}

#work-section,
#resume-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.border-button {
  border: 1px solid #1b1b1d;
  border-radius: 20px;
}